<h1>Editing interview</h1>

<%= render "form", interview: @interview %>

<br>

<div>
  <%= link_to "Show this interview", @interview, class: 'btn btn-primary' %>
  <%= link_to "Back to interviews", interviews_path, class: 'btn btn-primary' %>
</div>
